html,
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
#parent {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: lightgrey;
  opacity: 1;
}
#header {
  height: 5%;
  width: 100%;
  background: #00479d;
  opacity: 1;
  position: relative;
  z-index: 1;
}
#upper {
  height: 27%;
  width: 100%;
  background: green;
  opacity: 1;
  position: relative;
  z-index: 1;
}
#break {
  height: 0.3%;
  width: 100%;
  background: #ddf8ff;
  position: relative;
  z-index: 1;
}
#middle {
  height: 62%;
  width: 100%;
  background: green;
  opacity: 1;
}
#bottom {
  height: 14%;
  width: 100%;
  background: pink;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.qr {
  position: relative;
  top: 30.2%;
  left: 80.5%;
  height: 0;
  width: 0;
  margin: 0;
  z-index: 0;
}
.show-code {
  position: relative;
  top: 39.5%;
  left: 68%;
  height: 0;
  width: 0;
  font-weight: 999;
  font-family: 'Lucida Grande', sans-serif;
  color: black;
  font-size: 16px;
  margin: 0;
  z-index: 0;
}
.cap-logo {
  position: relative;
  top: 30%;
  left: 0%;
  height: 0;
  width: 0;
  margin: 0;
  z-index: 0;
  opacity: 0.7;
  animation: logo 5s steps(300, end) 0s infinite;
}
.cap-text {
  font-family: 'Lucida Grande', sans-serif;
  z-index: 1;
  position: relative;
  top: -205%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 999;
  font-size: 52px;
}
.mid-text {
  font-family: 'Lucida Grande', sans-serif;
  z-index: 1;
  position: relative;
  top: -60%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 999;
  font-size: 32px;
}
.touch-mid {
  z-index: 3;
  position: relative;
  top: -109%;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.3;
}
.touch-bot {
  z-index: 4;
  position: relative;
  top: -160%;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.3;
}
.bot-text {
  font-family: 'Lucida Grande', sans-serif;
  z-index: 1;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 999;
  font-size: 22px;
}
.shim1 {
  top: -85%;
}
.shim2 {
  top: -58%;
}
.stripe-header {
  top: 0%;
  height: 15%;
  width: 100%;
  position: absolute;
  background: #00479b;
}
.ustripe-top {
  top: -50%;
  left: -5%;
  right: 0%;
  height: 50%;
  background: #6089c3;
  position: relative;
  animation: st 15s steps(300, end) 0s infinite;
  font-family: 'Montserrat', sans-serif;
}
.ustripe-top-bg {
  top: 0;
  height: 50%;
  background: #a2b9da;
}
.ustripe-bot {
  top: -100%;
  left: -5%;
  right: 0%;
  height: 50%;
  background: #2e64a8;
  position: relative;
  animation: st 15s steps(300, end) 0s infinite;
  font-family: 'Montserrat', sans-serif;
}
.ustripe-bot-bg {
  top: -50%;
  height: 50%;
  position: relative;
  background: #83a1d4;
}
.notch-top {
  transform: rotate(135deg);
  top: -187%;
  left: -6%;
  width: 5px;
  position: relative;
  animation: n 15s steps(300, end) 0s infinite;
  background: transparent;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid red; /* #a2b9da;*/
}
.tick-top {
  transform: rotate(135deg);
  top: -159%;
  left: -6%;
  width: 5px;
  background: transparemt;
  position: relative;
  animation: t 15s steps(300, end) 0s infinite;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #6089c3;
}
.notch-bot {
  transform: rotate(225deg);
  top: -196.3%;
  left: -6%;
  width: 5px;
  position: relative;
  animation: n 15s steps(300, end) 0s infinite;
  background: transparemt;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid red; /*#83a1d4;*/
}
.tick-bot {
  transform: rotate(225deg);
  top: -170.9%;
  left: -6%;
  width: 5px;
  background: transparemt;
  position: relative;
  animation: t 15s steps(300, end) 0s infinite;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #2e64a8;
}
@keyframes st {
  0% {
    left: -5%;
    right: 0%;
    width: 0%;
  }
  40% {
    left: -5%;
    right: 105%;
    width: 105%;
  }
  60% {
    left: 50%;
    right: 105%;
    width: 50%;
  }
  80% {
    left: 50%;
    right: 105%;
    width: 50%;
  }
  100% {
    left: 100%;
    right: 105%;
    width: 0%;
  }
}
@keyframes t {
  0% {
    left: -6%;
  }
  40% {
    left: 99%;
  }
  60% {
    left: 99%;
  }
  80% {
    left: 99%;
  }
  100% {
    left: 99%;
  }
}
@keyframes n {
  0% {
    left: -5.5%;
  }
  40% {
    left: -5.5%;
  }
  60% {
    left: 49.8%;
  }
  80% {
    left: 49.8%;
  }
  100% {
    left: 99.8%;
  }
}
@keyframes logo {
  0% {
    left: -40%;
    top: 50%;
  }
  100% {
    left: 105%;
    top: -100%;
  }
}
.bstripe-top {
  top: 0;
  height: 50%;
  background: #3c75b6;
  position: relative;
}
.bstripe-bot {
  height: 50%;
  background: #00479d;
}
.fstripe-top {
  top: 0;
  height: 50%;
  background: #afaeaf;
  position: relative;
}
.fstripe-bot {
  height: 50%;
  background: #575659;
}
